# Fruitvale Race Census Data Exploration

In [28]:
#Import packages
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import math
import os
from openpyxl import load_workbook

In [29]:
#set directories
os.chdir("/Users/briangoggin/Dropbox/CP 201A/Fruitvale")
cwd = os.getcwd()
root = cwd+"/Raw Data/" #root is directory to raw files
root

'/Users/briangoggin/Dropbox/CP 201A/Fruitvale/Raw Data/'

In [30]:
#import raw data file

race = root+"ACS_14_5YR_B03002_with_ann.csv"
education = root+"ACS_14_5YR_B15003_with_ann.csv"
tenure = root+"ACS_14_5YR_B25003_with_ann.csv"
commute_mode = root+"ACS_14_5YR_B08101_with_ann.csv"
poverty = root+"ACS_14_5YR_B17001_with_ann.csv"

race

'/Users/briangoggin/Dropbox/CP 201A/Fruitvale/Raw Data/ACS_14_5YR_B03002_with_ann.csv'

In [31]:
#Import Datasets into dataframes

#first, define lists of file paths and Fruitvale Census Tracts
datasets = [race, education, tenure, commute_mode, poverty]
Fruitvale = ['06001406100', '06001406201', '06001406202', '06001406300', '06001406500', '06001407101', '06001407102', '06001407200', '06001407300', '06001407400', '06001407500', '06001407600']

#Define function for import and standard ACS cleaning operations
def import_census(file):
    df = pd.read_csv(file)
    df.columns = df.iloc[0]
    df = df.drop(df.index[0])
    df['Fruitvale'] = df['Id2'].isin(Fruitvale)
    return df

#import all the data
race = import_census(race)
education = import_census(education)
tenure = import_census(tenure)
commute_mode = import_census(commute_mode)
poverty = import_census(poverty)

In [32]:
#test one of the tables to make sure it imported  correctly
tenure.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,Estimate; Total: - Owner occupied,Margin of Error; Total: - Owner occupied,Estimate; Total: - Renter occupied,Margin of Error; Total: - Renter occupied,Fruitvale
1,1400000US06001400100,06001400100,"Census Tract 4001, Alameda County, California",1300,66,1078,88,222,76,False
2,1400000US06001400200,06001400200,"Census Tract 4002, Alameda County, California",815,48,515,53,300,56,False
3,1400000US06001400300,06001400300,"Census Tract 4003, Alameda County, California",2510,95,1154,141,1356,152,False
4,1400000US06001400400,06001400400,"Census Tract 4004, Alameda County, California",1812,81,723,105,1089,110,False
5,1400000US06001400500,06001400500,"Census Tract 4005, Alameda County, California",1590,78,584,105,1006,109,False

In [34]:
#Convert all race variables to integers
race['pop'] = race['Estimate; Total:'].astype(int)
race['white'] = race['Estimate; Not Hispanic or Latino: - White alone'].astype(int)
race['black'] = race['Estimate; Not Hispanic or Latino: - Black or African American alone'].astype(int)
race['native'] = race['Estimate; Not Hispanic or Latino: - American Indian and Alaska Native alone'].astype(int)
race['asian'] = race['Estimate; Not Hispanic or Latino: - Asian alone'].astype(int)
race['pacific'] = race['Estimate; Not Hispanic or Latino: - Native Hawaiian and Other Pacific Islander alone'].astype(int)
race['other'] = race['Estimate; Not Hispanic or Latino: - Some other race alone'].astype(int)
race['two'] = race['Estimate; Not Hispanic or Latino: - Two or more races:'].astype(int)
race['hispanic'] = race['Estimate; Hispanic or Latino:'].astype(int)

#Convert all tenure variables to integers 
tenure['owner'] = tenure['Estimate; Total: - Owner occupied'].astype(int)
tenure['renter'] = tenure['Estimate; Total: - Renter occupied'].astype(int)
tenure['total'] = tenure['Estimate; Total:'].astype(int)

#Convert all education variables to integers
education['bachelors'] = education["Estimate; Total: - Bachelor's degree"].astype(int)
education['masters'] = education["Estimate; Total: - Master's degree"].astype(int)
education['professional'] = education["Estimate; Total: - Professional school degree"].astype(int)
education['doctorate'] = education["Estimate; Total: - Doctorate degree"].astype(int)
education['pop_25older'] = education["Estimate; Total:"].astype(int)
education['at_least'] = education['bachelors']+education['masters']+education['professional']+education['doctorate']

#Convert all poverty variables to integers
poverty['total_pop'] = poverty["Estimate; Total:"].astype(int)
poverty['total_pov'] = poverty["Estimate; Income in the past 12 months below poverty level:"].astype(int)
poverty.head()

#Convert all commute mode variables to integers
commute_mode['c_total_pop'] = commute_mode["Estimate; Total:"].astype(int)
commute_mode['c_total_pop_moe'] = commute_mode["Margin of Error; Total:"].astype(int)
commute_mode['c_total_publict'] = commute_mode["Estimate; Total: - Public transportation (excluding taxicab):"].astype(int)
commute_mode['c_total_publict_moe'] = commute_mode["Margin of Error; Total: - Public transportation (excluding taxicab):"].astype(int)
commute_mode.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,Estimate; Total: - 16 to 19 years,Margin of Error; Total: - 16 to 19 years,Estimate; Total: - 20 to 24 years,Margin of Error; Total: - 20 to 24 years,Estimate; Total: - 25 to 44 years,...,Margin of Error; Total: - Worked at home: - 55 to 59 years,Estimate; Total: - Worked at home: - 60 to 64 years,Margin of Error; Total: - Worked at home: - 60 to 64 years,Estimate; Total: - Worked at home: - 65 years and over,Margin of Error; Total: - Worked at home: - 65 years and over,Fruitvale,c_total_pop,c_total_pop_moe,c_total_publict,c_total_publict_moe
1,1400000US06001400100,06001400100,"Census Tract 4001, Alameda County, California",1522,159,21,32,157,55,426,...,80,0,12,0,12,False,1522,159,118,59
2,1400000US06001400200,06001400200,"Census Tract 4002, Alameda County, California",1179,148,20,16,19,17,586,...,8,9,15,36,23,False,1179,148,245,60
3,1400000US06001400300,06001400300,"Census Tract 4003, Alameda County, California",3044,446,14,13,93,78,1897,...,29,0,17,39,58,False,3044,446,687,193
4,1400000US06001400400,06001400400,"Census Tract 4004, Alameda County, California",2566,349,0,12,133,77,1657,...,36,26,26,19,19,False,2566,349,695,176
5,1400000US06001400500,06001400500,"Census Tract 4005, Alameda County, California",2129,226,0,12,112,54,1509,...,14,15,17,0,12,False,2129,226,494,116

In [43]:
#Create Race Merge Data
races = ['white', 'black', 'native', 'asian', 'pacific', 'other', 'two', 'hispanic', 'pop']
excel_race = race.groupby('Fruitvale')[races].sum()
for i in races:
    excel_race['pct_'+i] = 100*(excel_race[i]/excel_race['pop'])

#Create Tenure Merge Data
tenures = ['owner', 'renter', 'total']
excel_tenure = tenure.groupby('Fruitvale')[tenures].sum()

#Create Education Merge Data
educations = ['pop_25older', 'at_least']
excel_education = education.groupby('Fruitvale')[educations].sum()
excel_education['pct_atleast'] = 100*(excel_education['at_least']/excel_education['pop_25older'])

#Create Poverty Merge Data
povertys = ['total_pop', 'total_pov']
excel_poverty = poverty.groupby('Fruitvale')[povertys].sum()
excel_poverty['pct_pov'] = 100*(excel_poverty['total_pov']/excel_poverty['total_pop'])

#Create Commute Merge Data
commute_mode['c_total_pop_moe2'] = (commute_mode['c_total_pop_moe'])**2
commute_mode['c_total_publict_moe2'] = (commute_mode['c_total_publict_moe'])**2
commutes = ['c_total_pop', 'c_total_publict', 'c_total_pop_moe2', 'c_total_publict_moe2']
excel_commutes = commute_mode.groupby('Fruitvale')[commutes].sum()
excel_commutes['pct_pov'] = 100*(excel_commutes['c_total_publict']/excel_commutes['c_total_pop'])
excel_commutes['total_pop_moe'] = np.sqrt(excel_commutes['c_total_pop_moe2'])
excel_commutes['total_publict_moe'] = np.sqrt(excel_commutes['c_total_publict_moe2'])
excel_commutes.head()

,c_total_pop,c_total_publict,c_total_pop_moe2,c_total_publict_moe2,pct_pov,total_pop_moe
Fruitvale,,,,,,
False,679055,85197,22618156,4498763,12.546406,4755.854918
True,22470,4526,1326718,314956,20.142412,1151.832453

In [ ]:

#Reshape data frames long
dataframes = ['excel_race2', 'excel_tenure2', 'excel_education2', 'excel_poverty2', 'excel_commutes2']
excel_race2 = excel_race.transpose()
excel_tenure2 = excel_tenure.transpose()
excel_education2 = excel_education.transpose()
excel_poverty2 = excel_poverty.transpose()
excel_commutes2 = excel_commutes.transpose()

#Concatenate data frames together
dataframes = [excel_race2, excel_tenure2, excel_education2, excel_poverty2, excel_commutes2]
final_table = pd.concat(dataframes, axis=0, keys=['race', 'tenure', 'education', 'poverty', 'commutes'])
final_table

In [ ]:
#optional code for python-to-latex
#final_output = data_tex.to_latex()
#final_output

#Output to excel (still not sheet replace)
output_path = "Fruitvale/Intermediate Files/final.csv"
final_output = final_table.to_csv(output_path)
final_output

In [ ]:
#writer = pd.ExcelWriter('Fruitvale/Intermediate Files/final.xlsx', engine='openpyxl')
#book = load_workbook('Fruitvale/Intermediate Files/final.xlsx')
#writer.book = book
#writer.sheets = dict((ws.title, ws) for ws in book.worksheets)
#data_excel.to_excel(writer, sheet_name='raw')
#writer.save()